body {
  margin: 0px;
  background-color: #2E2E2E;
}

.container {
  width: 900px;
  margin: auto;
  background-color: #BDBDBD;
}

.container.center {
  position: absolute;
  max-height: 300px;
  height: 100%;
  left: 50%;
  margin-left: -450px;
  margin-top: -150px;
  top: 50%;
}

.titlebar {
  padding: 3px;
  background-color: #BDBDBD;
}

.title {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 1.1em;
}

.footer {
  font-size: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #BDBDBD;
  margin-top: 0px;
  padding-left: 5px;
}

input {
  background-color: #D8D8D8;
}

input[type='submit'],
input[type='button']{
  font-size: 0.9em;
  padding: 5px;
  margin-top: 15px;
}

.planeicon {
  width: 250px;
  height: 250px;
  position: absolute;
  top: 20px;
  left: 100%;
  margin-left: -250px;
}
