.register {
  padding: 60px;
  font-size: 0.8em;
}

.cbshow {
  display: inline-block;
}

label {
  display: block;
  font-size: 0.8em;
}

label[for="show"] {
  display: inline-block;
}

input[name="username"] ~ label {
  margin-top: 10px;
}

input[name="confirm"] + input[type="submit"]{
  display: inline;
}

input[type="submit"] {
  margin-left: 20px;
}

#error {
  color: #FF0000;
  font-size: 0.66em;
}
